
@{
    /**/

    ViewBag.Title = "Immissione / modifica telai";
}

<h3>Immissione / modifica telai</h3>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        Targa: @Html.TextBox("Targa", null, new { style = "width:80px" })
        Matricola: @Html.TextBox("Matricola", null, new { style = "width:80px" })
        <input type="submit" id="TelaioDaInserire" value="Inserimento targa non in lista" />

    </div>
}
<br /><br />
@{string aMessage = ViewBag.Messaggio;}

@if (ViewBag.Controllo == 0)
{
    <div style="background-color: red ">
        @aMessage
    </div>

}
else if (ViewBag.Controllo == 1)
{
    <div style="background-color: red ">
        @aMessage
    </div>
}
else if (ViewBag.Controllo == 2)
{
    <div style="background-color: green">
        @aMessage
    </div>
}
else if (ViewBag.Controllo == 3)
{
    <div id="Test">
        Situazione targa : @aMessage
        <br />
        <tr>
            <td >Location in cui registrare la scheda :</td>
        </tr>
        <tr>
            <td >    @Html.DropDownList("SearchLocation", (IEnumerable<SelectListItem>)ViewData["Luoghi"])</td>
        </tr>
    </div>
}
else if (ViewBag.Controllo == 4)
{
    <div style="background-color: green">
        @aMessage
    </div>
}
