@{
    ViewBag.Title = "AT Manager";
}
<h2>@ViewBag.Title.</h2>
<h2>@ViewBag.Message</h2>

<address>
    Via dei Santi Giacomo e Filippo 9/3 <br />
    16122 - Genova<br />
    <abbr title="Telefono"></abbr>
    Tel  + 39 010 235971
</address>

<br />

<address>
    Suporto tecnico : <br />
    Maurizio Vigna
    <abbr title="Telefono"></abbr>
    Tel  + 39 3470162373
</address>

<address>
    @*<strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>