
@{
    ViewBag.Title = "ErroreImmissioneScheda";
}

<h3>Errore !</h3>

<p>Attenzione , non usare i tasti di navigazione del browser, ma usare i link <br />
   presenti nel programma per navigare tra le pagine.     
</p>

<div>
    @Html.ActionLink("Torna a lista telai...", "Index")
</div>