@{
    ViewBag.Title = "FotoPerizia";
}
<h2>Foto relative al mezzo</h2>
<br />
@Html.ActionLink("Torna alla scheda", "Edit", new {
    ID = ViewBag.IDPerizia,
    ViewBag.marca,
    ViewBag.targa,
    ViewBag.dataimmatricolazione,
    ViewBag.km,
    ViewBag.luogoperizia,
    ViewBag.modello,
    ViewBag.cartacircolazione,
    ViewBag.matricola,
    ViewBag.telaio,
    ViewBag.dataultimarevisione,
    ViewBag.aziendautilizzatrice,
    ViewBag.blocked
})

<br /><br />
@using (Html.BeginForm("UploadFotoPeriziaEdit", "Home", new
{



    ID = ViewBag.IDPerizia,
    ViewBag.marca,
    ViewBag.targa,
    ViewBag.dataimmatricolazione,
    ViewBag.km,
    ViewBag.luogoperizia,
    ViewBag.modello,
    ViewBag.cartacircolazione,
    ViewBag.matricola,
    ViewBag.telaio,
    ViewBag.dataultimarevisione,
    ViewBag.aziendautilizzatrice,
    ViewBag.blocked
}, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label for="file">Upload Image:</label>
    <input type="file"  multiple name="files[0]" id="files_0" />

    <br />
    <input type="submit" value="Inserici foto mezzo" class="submit" />
}

