@model ATManager.Models.HomeModel
@{
    /**/

    ViewBag.Title = "FotoPratica";
}
<h2>Foto relative ai documenti</h2>
<br />
@Html.ActionLink("Torna alla scheda", "Create", new
{
    ID = ViewBag.IDPerizia,
    ViewBag.marca,
    ViewBag.targa,
    ViewBag.dataimmatricolazione,
    ViewBag.km,
    ViewBag.luogoperizia,
    ViewBag.modello,
    ViewBag.cartacircolazione,
    ViewBag.matricola,
    ViewBag.telaio,
    ViewBag.dataultimarevisione,
    ViewBag.aziendautilizzatrice,
    

})

@*@Html.ActionLink("Torna alla scheda", "Edit", new
    {
        id=ViewBag.IDPerizia,
        ViewBag.marca,
        ViewBag.targa,
        ViewBag.km,
        ViewBag.luogoperizia,
        ViewBag.modello,
        ViewBag.cartacircolazione,
        ViewBag.matricola,
        ViewBag.telaio,
        ViewBag.dataultimarevisione,
        ViewBag.aziendautilizzatrice
    })*@



<br /><br />
@using (Html.BeginForm("UploadFotoPratica", "Home", new
{
    ID = ViewBag.IDPerizia,
    ViewBag.marca,
    ViewBag.targa,
    ViewBag.dataimmatricolazione,
    ViewBag.km,
    ViewBag.luogoperizia,
    ViewBag.modello,
    ViewBag.cartacircolazione,
    ViewBag.matricola,
    ViewBag.telaio,
    ViewBag.dataultimarevisione,
    ViewBag.aziendautilizzatrice
}, FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    <div class="form-group">
        <div class="col-md-10">
            Tipo documento :
            @Html.DropDownList("SDU_DocTipi", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label for="file">Inserisci foto doc.</label>
        <input type="file" name="files" id="files_0" />
        <br />
        <input type="submit" value="Inserici foto documento" class="submit" />
    </div>
}

