
@{
    ViewBag.Title = "FotoPerizia";
}

<h2>Foto legate alla perizia</h2>

<br />
<br />
@using (Html.BeginForm("UploadFotoPerizia", "Home", new { ID = ViewBag.IDPerizia }, FormMethod.Post,
                                    new { enctype = "multipart/form-data"}))
{
    <label for="file">Upload Image:</label>
    <input type="file" name="files[0]" id="files_0" />

    <br />
    <input type="submit" value="UploadFotoPerizia" class="submit" />
}

