
@{
    ViewBag.Title = "FotoPerizia";
}

<h2>Foto relative al mezzo</h2>

<br />
@Html.ActionLink("Torna alla scheda", "Create", new {
    ID = ViewBag.IDPerizia,
    ViewBag.marca,
    ViewBag.targa,
    ViewBag.dataimmatricolazione,
    ViewBag.km,
    ViewBag.luogoperizia,
    ViewBag.modello,
    ViewBag.cartacircolazione,
    ViewBag.matricola,
    ViewBag.telaio,
    ViewBag.dataultimarevisione,
    ViewBag.aziendautilizzatrice
})

<br /><br />


@using (Html.BeginForm("UploadFotoPerizia", "Home", new  {
        ID = ViewBag.IDPerizia,
        ViewBag.marca,
        ViewBag.targa,
        ViewBag.dataimmatricolazione,
        ViewBag.km,
        ViewBag.luogoperizia,
        ViewBag.modello,
        ViewBag.cartacircolazione,
        ViewBag.matricola,
        ViewBag.telaio,
        ViewBag.dataultimarevisione,
        ViewBag.aziendautilizzatrice
    }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label for="file">Inserisci foto:</label>
    <br /><br />
    <input type="file" multiple name="files" id="files_0" />

    <br />
    <input type="submit" value="Inserici foto mezzo" class="submit" />

}

