@model IEnumerable<ATManager.Models.SDU_documentiPratica>


@{
    ViewBag.Title = "Images";
}

<h2>Images</h2>

@Html.ActionLink("Torna alla scheda", "Edit", new
{
    ID = ViewBag.IDPerizia,
    ViewBag.marca,
    ViewBag.targa,
    ViewBag.dataimmatricolazione,
    ViewBag.km,
    ViewBag.luogoperizia,
    ViewBag.modello,
    ViewBag.cartacircolazione,
    ViewBag.matricola,
    ViewBag.telaio,
    ViewBag.dataultimarevisione,
    ViewBag.aziendautilizzatrice,
    ViewBag.blocked
})
<br />
<br />

@foreach (var item in Model)
{

    <table>
        <tr>
            <td>
                <img src="@Url.Content("~/FotoPratica/" + item.percorsoFile)" title="@Url.Content(item.percorsoFile)" alt="Image" style='height: 400px; width: 400px; object-fit: contain' />

            </td>
            <td>
                @Html.ActionLink("Delete Foto", "DeleteSingleFotoPraticaEdit", new { id = item.ID, picName = item.percorsoFile, IDPratica = item.ID_pratica }, new { @class = "deleteImg" })
            </td>
        </tr>
    </table>

}

